{% extends "adoption/layout.html" %}

{% block content %}

<h1>About the Shelter</h1>
<p id="about">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut assumenda velit iure mollitia voluptatibus corrupti, saepe, consectetur facere modi magni fuga impedit nesciunt. Veritatis mollitia sit nisi nesciunt consequuntur et possimus in, odit minima corporis tenetur debitis quos, necessitatibus alias cupiditate modi soluta consequatur placeat eaque qui nam laboriosam. Tempora deserunt dicta ipsa neque, earum eaque ipsam. Recusandae facere saepe voluptatibus, veniam nulla perspiciatis omnis necessitatibus, magni laboriosam provident exercitationem minus nemo, porro quas quaerat nostrum deserunt impedit pariatur eveniet earum eum temporibus ad voluptas accusamus? Modi incidunt magnam optio, officia, animi, enim natus maxime provident molestias nihil ipsum error!
</p>

{% endblock %}
